.background{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.jpg);
    background-size: cover;
    background-position: center;
   
}

.bgc{
    background-color:rgb(238, 225, 241);
}

.text-recipie{
    color: rgb(49, 10, 49);
}